@import url("https://fonts.googleapis.com/css?family=Passion+One|Raleway");
h2, h4 {
  font-family: 'Passion One' !important; }

h2, h4::first-letter {
  text-transform: capitalize; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

* {
  font-family: 'Raleway', sans-serif; }

h1 {
  font-family: 'Passion One', cursive; }

.shadow-nohover {
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 4px 0px 10px 0px rgba(0, 0, 0, 0.12); }

h1, h2, h3 {
  margin: 0 0 35px 0;
  text-transform: uppercase;
  letter-spacing: 1px; }

header {
  width: 100%; }

main {
  flex: 2 0 auto;
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  box-shadow: 3px 3px 8px 3px gray; }

#mainIndex {
  width: 80%; }

#mainForm {
  width: 100%; }

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .posts article {
    border-radius: 5px;
    margin: 10px 20px;
    width: 18rem;
    border: 1px solid black;
    padding: 1%;
    height: 25rem;
    display: flex;
    flex-direction: column; }
    .posts article h2 {
      flex-grow: 1; }

p::first-letter {
  text-transform: capitalize; }

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .modal-body textarea {
    width: 100%;
    height: 50px;
    border: 1px solid black; }
  .modal-body h6 {
    font-weight: bold;
    background-color: green;
    margin: 1%;
    padding: 1%;
    color: white; }

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6em; }

#contact {
  background: #333333;
  color: #f4f4f4;
  padding-bottom: 80px;
  width: 100%; }

textarea.form-control {
  height: 100px; }

footer {
  width: 100%; }

.fl {
  background-color: #3e4451;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 100%; }

.fa-facebook:hover {
  font-size: 30px;
  color: white; }

.fa-twitter:hover {
  font-size: 30px;
  color: white; }

.fa-google-plus-g:hover {
  font-size: 30px;
  color: white; }

.fa-instagram:hover {
  font-size: 30px;
  color: white; }
