@import url("https://fonts.googleapis.com/css?family=Passion+One|Raleway");
* {
  font-family: 'Raleway'; }

h2 {
  font-family: 'Passion One'; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

main {
  width: 80%;
  background-color: blanchedalmond;
  flex: 2 0 auto;
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap; }

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .posts article {
    margin: 10px 20px;
    width: 18rem; }
