footer{
    width: 100%;
}
.fl{
    background-color: #3e4451; 
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 100%;
}
.fa-facebook:hover{
    font-size: 30px;
    color:white;
}
.fa-twitter:hover{
    font-size: 30px;
    color:white;
}
.fa-google-plus-g:hover{
    font-size: 30px;
    color:white;
}
.fa-instagram:hover{
    font-size: 30px;
    color:white;
}